name: Deploy Gitea

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - uses: actions/checkout@v4

      - name: Generate .env from GitHub Secrets
        run: |
          cat <<EOF > .env
          GITEA__mailer__USER=${{secrets.SMTP_USER}}
          GITEA__mailer__PASSWD=${{secrets.SMTP_PASS}}

          EOF

      - name: Deploy to Docker Swarm
        run: docker stack deploy -c docker-compose.yml gitea
