name: Deploy Gitea

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - uses: actions/checkout@v4



      - name: Deploy to Docker Swarm
        env:
          # We inject the secrets into the shell environment here
          SMTP_USER: ${{ secrets.SMTP_USER }}
          SMTP_PASS: ${{ secrets.SMTP_PASS }}
          GITEA_METRICS_TOKEN: ${{secrets.GITEA_METRICS_TOKEN}}
    
        run: docker stack deploy -c docker-compose.yml gitea
