name: Gitea Deployment

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v4
      - run: |
          export GITEA_SMTP_USER="${{ secrets.GITEA_SMTP_USER }}"
          export GITEA_SMTP_PASS="${{ secrets.GITEA_SMTP_PASS }}"
          docker stack deploy -c docker-compose.yml gitea
